{% extends "layout.html" %}
{% block body %}

	{% if false and frames %}
	<div id="ad">
	
	</div>
	{% endif %}

	
	<section>
		
       <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">         
          <div class="row-fluid">
            <div class="span3">
              <h2> &raquo; source</h2>
            <div class="input-append">                    
                <input type="text" size="200" class="span9" style="float:left;" placeholder="Enter GIF URL">                
                <button class="btn btn-primary" type="button">
                    <i class="icon-picture icon-white"></i> Go!
                </button> 
                <form id="main_form" action="/" method="post">
                  <p>Paste the URL of the image here:</p> 
                  <input  type="url" 
                      name="image_url" 
                      placeholder="Image URL" 
                      autofocus="autofocus" 
                      {% if image_url %}
                        value="{{image_url}}"
                      {% endif %}/>
                  <input type="submit" value="Fetch" />
                </form>      
                {% if image_url %}
                    Original image:<br />
                    <img src="{{ image_url }}" /> <br />
                  {% endif %}         
            </div>

            <div>
               <h3>Some examples<small> (from Flickr) </small></h3>
              <ul id="images" class="thumbnails"></ul>      
            </div>

            </div><!--/span-->
            <div class="span6">   
              <h2> &raquo; CSS</h2>
            <div>
              <textarea class="span12 input" id="codemirror" name="codemirror">
                {% include 'csseditor.html' %}
              </textarea>
            </div>

            </div><!--/span-->
            <div class="span3">
              <h2> &raquo; result</h2>
              <div id="sprite"></div>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">            
            <div class="span9">
            
            </div><!--/span-->
            <div class="span3">
              <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Credits</li>
              <li><a href="#">gif explode</a></li>
              <li><a href="#">sprite animation</a></li>
              <li><a href="#">bootstrap</a></li>
            </ul>
          </div><!--/.well -->
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->


	</section>
	
	
{% endblock %}
