<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GIF2CSS Convert animated GIF Image to CSS3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>   
  </head>






	<body>
		<div id="wrapper">
			
			<header>
				<h1><a href="/">Gif Explode</a></h1>
			</header>
			
			{% block body %}{% endblock %}
			
			<footer>
				Written in <a href="http://flask.pocoo.org/">Flask</a>.  
				Hosted on <a href="http://heroku.com">Heroku</a>.  
				View the source on <a href="https://github.com/trg/GIF-Explode">Github</a>.
				Developer? Check out the <a href="/api">API</a>.
			</footer>
			
			<div id="links">
				Need more image tools?  Check out <a href="http://imgops.com/">ImgOps</a>.<br />
				Tools like Gif Explode could disappear from the web forever! <a href="http://americancensorship.org/">Stop SOPA</a><br />
				Content prohibited by Heroku's <a href="http://policy.heroku.com/aup">Acceptable Use Policy</a> or applicable law is forbidden.
		 	</div>
			
		</div>
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  //_gaq.push(['_setAccount', 'UA-26142178-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		
		<script type="text/javascript">var switchTo5x=false;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'94d32865-7a2a-4df3-86eb-22c12a45aefa'});</script>
		
	</body>
</html>